body{
    margin: 0;
}


#task1{
    width: 80vmin;
    height: 50vmin;
    animation: slider_image 60s infinite;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@keyframes slider_image{
    0%,10%,100%{background-image: url(slides/slide1.jpg) ;}
    11%,21%{background-image: url(slides/slide2.jpg) ;}
    22%,32%{background-image: url(slides/slide3.jpg) ;}
    33%,43%{background-image: url(slides/slide4.jpg) ;}
    44%,54%{background-image: url(slides/slide5.jpg) ;}
    55%,65%{background-image: url(slides/slide6.jpg) ;}
    66%,76%{background-image: url(slides/slide7.jpg) ;}
    77%,87%{background-image: url(slides/slide8.jpg) ;}
    88%,99%{background-image: url(slides/slide9.jpg) ;}
    
}